// Normally mainpage styles
//ALL
.l-wrapper
	img
		max-width: 100%
		height: auto
		
	.logo-image	
		min-width: 210px
		+r(600)
			position: absolute
			top: -9px
			bottom: 0
			margin: auto
		+r(500)
			width: 300px 
		+r(410)
			position: relative
			top: inherit
			bottom: inherit
		
	.l-wrapper
		min-width: auto
		+r(360)
			padding: 0

	.l-category
		+r(900)
			display: -webkit-inline-box
			display: -webkit-inline-flex
			display: -ms-inline-flexbox
			display: inline-flex
			-webkit-box-orient: vertical
			-webkit-box-direction: reverse
			-webkit-flex-direction: column-reverse
			-ms-flex-direction: column-reverse
			flex-direction: column-reverse
				
			.two-column__main_container
				margin-bottom: 30px	

	// .two-column__sidebar
	// 	margin-left: 228px
	// 	padding: 0 18px
	// 	float: none
	// 	width: auto	

	.column__categories
		display: block
		float: left
		width: 228px
		padding: 10px 0px
		//background-color: #DC2430
		background-color: #000
		border-radius: 8px
		position: relative
		+box

		.category 
			list-style: none
			li
				padding: 3px 10px
				margin-bottom: 10px
				position: relative
				background-color: transparent
				&:last-child
					margin-bottom: 0
				&:hover, &:focus
					+tr(all .3s)
					// .subcategory
					// 	display: block
			a
				display: block
				font: 600 16px/1.4 'Open Sans', sans-serif
				text-decoration: none
				color: #fff
				border-bottom: 2px solid transparent
				padding-bottom: 3px
				
				&:hover, &:focus
					+tr(all .8s)
					border-color: white
					cursor: pointer


		.subcategory
			display: none
			padding: 0
			+box
			// position: absolute
			// top: 0
			// right: -360px
			// background-color: #DC2430
			background-color: #000
			padding: 10px 15px
			// width: 360px
			width: 100%
			li
				display: block

			a:hover, a:focus
				+tr(all .3s)




	.footer
		+r(360)
			padding: 0	

ymaps
	+r(1005)
		max-width: 100% !important
		margin: auto

	+r(1005)
		.ymaps-2-1-29-button_size_s .ymaps-2-1-29-button__text
			width: 30px
			padding: 0
			text-align: center	

p#back-top
	a 
		width: auto !important

	+r(640)
		left: inherit
		right: 35px
		bottom: 20px


.navigation
	+r(1040)
		position: relative
	.l-wrapper
		+clr
		+r(500)
			padding: 0

		.b-35
			width: 35% 
			min-height: 69px
			position: relative
			+r(1100)
				width: 38%
			+r(1040)
				width: 70%	
			+r(600)
				width: 60%	
			+r(500)
				width: 100%	
				.logo
					padding: 0 20px
			+r(410)
				.logo	
					padding-top: 13px	

		.b-65
			width: 65%	
			min-height: 69px
			+r(1100)
				width: 62%
			+r(1040)
				width: 30%
			+r(600)
				width: 40%	
			+r(500)
				width: 100%	
				background-color: #FFF	
				margin-top: -2px
				margin-top: -75px 
				width: 60px 
				background: transparent 

	.lang
		position: absolute
		right: 212px
		a
			position: static
		a.active
			position: static
			margin: 0 0 0 6px
		+r(1040)
			right: 68px
			top: 28px
			a.active
				padding: 0 6px 1px
				//margin: 0 45px
			a
				font-size: 15px	
				margin-bottom: 4px
		+r(680)
			right: 68px
			top: 15px
			a
				display: block		

		+r(500)
			position: absolute
			left: 20px
			right: inherit
			top: 28px	
			display: none
			a
				display: inline-block
				font-size: 18px
			a.active
				margin-left: 15px
				padding: 3px 6px 4px	



#slide_sale
	+r(900)
		display: none

.twrp
	overflow: auto
	padding: 20px 0	
	
	> table 
		min-width: 800px	

//BEGIN HOME PAGE
//navigation
.header-bg
	+r(1040)
		padding: 59px 0 10px
		display: none
	+r(500)
		display: block
		display: none


.menu-mob-btn
	display: none
	position: absolute
	top: 24px
	right: 15px
	border: none
	outline: none
	background: none
	+r(1040)
		display: block	
		right: -6px
	+r(500)
		right: 15px	
	span
		width: 30px
		height: 3px
		margin: 12px 0
		background-color: #333
		display: block
		position: relative
		transition: all .3s
		&:before, &:after
			content: ' '
			display: block
			background-color: #333
			left: 0
			width: 30px
			height: 3px
			position: absolute
			transition: all .3s
		&:before
			top: -9px
		&:after
			top: 9px

.menu-mob	
	float: none
	width: 100%		
	margin: 0
	background-color: black
	position: absolute
	top: 68px
	left: 0
	display: none
	+r(500)
		top: 136px
		top: 68px 
	li	
		display: block
		text-align: center
		padding: 5px 0px 
		a	
			color: #fff	
			font-size: 18px	
			display: block
		ul
			display: none	
				
.search-form__b
	+r(1040)
		display: none			

.top-menu
	+r(1040)
		display: none

.top-menu > li
	+r(1100)
		padding: 3px 10px

.l-wrapper
	position: relative
	min-width: 300px
	//min-width: 320px
	+box
	+r(1200)
		padding: 0 20px

	.b-50 
		+r(1200)
			min-height: 374px
		+r(780)
			width: 80%	
			min-height: auto
			float: none
			margin: auto
		+r(500)
			width: 90%

	.home-menu__item
		+r(780)
			br
				display: none
		+r(600)
			margin: 15px 0 0

	.home-menu__on_hover
		+r(1200)
			min-height: 130px
			padding-bottom: 10px
			li
				position: relative
				.sq
					position: absolute
			a	
				padding-left: 15px
		+r(940)
			min-height: 184px		

		+r(780)
			min-height: auto 
			li > .sq
				top: 0	 
			br
				display: none		
		

	.home-menu__on_hover_sub > li	
		+r(780)
			display: block !important
			text-align: left
			margin-bottom: 12px
			a
				font-size: 13px 
				margin-bottom: 13
				line-height: 1.4

//END HOME PAGE

// BEGIN about_us
.two-column__sidebar
	+r(900)
		float: none
		width: 100%

.contacts__content
	+r(900)
		padding: 10px 20px 10px
		p
			margin-bottom: 18px	
contacts__header
	+r(900)
		padding: 10px				

.two-column__main_container	
	+r(900)
		float: none
		margin: 0
		.two-column__content_category
			padding-left: 0
			padding-right: 0
.two-column__content
	+r(900)
		margin: 0
		padding: 0

		> *
			float: none !important
			margin-top: 0 !important
			width: 100%

	+r(600)
		.gc-search
			> *
				margin-bottom: 20px !important

.bread-menu 
	+r(900)
		> li
			display: none
			&:nth-child(2)
				display: inline-block
			a
				padding: 5px 11px

		ul	
			top: 40px
			list-style: none

		.fa
			display: none

	li > ul.is-active
		display: block						

.productcategoryT
	+r(720)
		// table th, table td
		// 	display: block
		// 	font-size: 16px
		overflow: auto
		.thickbox
			padding: 15px 15px 0 0 !important

.productcategory
	+r(1100)
		overflow: auto				
	+r(620)
		table th, table td
			font-size: 16px
	// +r(540)
	// 	table th, table td
	// 		display: block	
	// 		text-align: center	

.sort_menu
	+r(625)
		table td
			display: block	
			text-align: center	
			font-size: 16px	

.product-block
	+r(900)
		width: 48%
		margin:	0 1% 20px
		min-height: 210px
		.product-link
			display: none
	+r(700)
		width: 100%
		float: none	
		margin: 0 0 20px
		.product-title	a
			font-size: 16px

.news__item
	+prevent-text	
	.linkk
		width: 100%	
		+box

.news__item_one_content
	+r(1200)
		#req_form
			overflow-x: auto 

	+r(1055)
		> img
			display: block
			margin: auto !important
	+r(1051)
		td > p > img
			margin: 0 auto 
			display: block
	+r(900)
		margin: 0
		table
			width: 100% !important
		p, li
			font-size: 14px !important
		iframe
			max-width: 100%
			margin: 20px auto
			display: block

		> div, strong 	
			width: 100% !important
			height: auto !important
			float: none !important

			img
				margin: 0 auto 10px !important
				display: block !important
				float: none !important

		> *	
			float: none !important	
			margin-left: auto
			margin-right: auto


	+r(720)
		// > table td
		// 	display: block	
		// 	width: 100%
		// 	text-align: center
		// 	padding: 8px 0
		td p
			margin-bottom: 0
		table p > img, table h3 img	
			float: none !important
			display: block !important
			margin: 10px auto !important

		colgroup
			display: none	


	+r(600)
		padding: 40px 15px 20px 15px

	+r(545)
		.spoiler + hr + br + div     
			width: auto !important	

		h2 + p + form td    
			display: block

		textarea
			width: 100%

		td > p 
			img	
				width: 100%		

	+r(440)
		table 
			p > img
				width: 100%

		

.ui-tabs .ui-tabs-nav 
	+r(400)
		li	
			float: none
			a	
				display: inline-block

.ui-tabs .ui-tabs-nav .ui-tabs-anchor
	+r(400)
		float: none

.cleanhtml
	+r(1200)
		table
			width: 100% !important
	+r(900)
		p
			font-size: 14px !important
			margin-left: 0 !important
			margin-right: 0 !important
			text-indent: 0 !important
			+prevent-text

		p:nth-child(2)
			// display: -webkit-flex
			// display: -ms-flexbox
			// display: flex
			// -webkit-justify-content: space-around
			// 	-ms-flex-pack: distribute
			// 		justify-content: space-around
			// -webkit-flex-wrap: wrap
			// -ms-flex-wrap: wrap
			// flex-wrap: wrap


		> *	
			float: none !important
			height: auto !important
			width: 100% !important

		> img
			width: auto !important	

		iframe
			min-height: 650px	
		
	+r(770)
		p:nth-child(2)
			-webkit-flex-wrap: wrap-reverse
			-ms-flex-wrap: wrap-reverse
			flex-wrap: wrap-reverse
	+r(700)
		// td
		// 	display: block !important
		// 	width: auto
		// 	height: auto !important
		td > br	
			display: none

		td  img	
			float: none !important


		#tabledata	
			overflow: scroll 
			td
				display: table-cell !important
		
		#propertytable
			overflow: scroll
			td
				display: table-cell !important

		colgroup 
			display: none		

	+r(600)
		div > img
			float: none !important
			display: block

	+r(400)
		overflow: hidden

		td > img[width='300']
			width: 100%		

.bottom-block
	+r(900)
		.bottom-contacts
			float: none	!important
			width: 100% !important

		.bottom-contacts-block
			float: none !important
			width: 100%		
			+box		


.mn2_a, .mn2_ table .mn2a, .mn2_a:hover
	+box
	+r(1143)
		height: 100px

	+r(963)
		height: 120px	

	+r(720)
		height: 70px

	+r(400)
		height: 90px		


.mn2_, .mn2a, .mn2_a
	+r(720)
		float: none
		width: 100%	
		a
			display: block !important
			width: 100%	 !important
			margin: 0
			//line-height: 55px
			font-size: 14px !important
			
		a:hover, a:focus
			display: block
			width: 100%	
			//line-height: 55px
			font-size: 14px	!important
		.mn2img
			display: none	
.mn2_
	+r(720)
		.linkk	
			display: block		



				
// END about_us

//BEGIN category
ul.page-categories, ul.page-categoriesShini 
	+r(900)
		display: block
		li
			width: 100% !important
			margin: 0 auto 15px
			height: auto
			min-height: 160px
		a	
			font-size: 18px
		h2	
			font-size: 15px
	+r(600)
		li	
			min-height: 190px	

			img
				margin: 5px auto

		span	
			font-size: 14px	

	+r(400)
		li
			min-height: 220px

ul.page-categoriesShini 
	+r(400)
		h2
			height: 70px

//ENDcategory


//FOOTER
.footer__copyright
	+r(900)
		font-size: 14px
	+r(500)
		margin: 0
		float: none
.footer-links
	+r(500)
		margin-top: 32px 
.footer__logo
	+r(500)
		float: right
.footer-links a
	+r(900)	
		display: block
		margin-bottom: 10px	
		font-size: 14px	
.social
	+r(500)
		margin-bottom: 20px 