// Normally mainpage styles

//ALL
.l-wrapper
	img
		max-width: 100%
		height: auto

	.logo-image	
		max-width: none
		+r(530)
			max-width: 100%

p#back-top
	+r(640)
		left: inherit
		right: 13%
	+r(450)	
		right: 18%
	+r(400)
		right: 21%	


//BEGIN HOME PAGE
//navigation
.top-menu
	+r(1040)
		width: 100%
		background-color: black
		margin-top: 48px
		padding-top: 0
		display: none

.search-form__b
	+r(720)
		display: none	
.lang
	+r(720)
		right: 100px
		a.active
			padding: 0 6px 1px
			margin: 0 40px


.top-menu > li
	+r(1100)
		padding: 3px 10px
	+r(1040)
		display: block
		text-align: center
		padding: 5px 0px !important
		border-bottom: 1px solid #313131
		a
			font-size: 18px
			color: #fff
			i 
				display: none


.top-menu__with_sub.selected
	+r(1040)
		display: block
		.fa
			display: none
		ul
			position: relative	
			top: 0
			width: 100%
			margin: 0
			display: block
			border-radius: 0
			li
				text-align: left
				display: block

			a	
				font-size: 14px	
				display: block

.l-wrapper
	position: relative
	min-width: 320px
	+box
	+r(1200)
		padding: 0 20px

	.b-35
		+r(900)
			width: auto	

	.b-50 
		+r(1200)
			min-height: 374px
		+r(780)
			width: 80%	
			min-height: auto
			float: none
			margin: auto
		+r(600)
			width: 100%

	.home-menu__item
		+r(600)
			margin: 15px 0 0


	.b-65
		+r(1040)
			width: 100%		
			position: absolute !important
			top: 20px
			right: 0

	.home-menu__on_hover
		+r(1200)
			min-height: 120px
			padding-bottom: 10px
			li
				position: relative
				.sq
					position: absolute
			a	
				padding-left: 15px

		+r(940)
			min-height: 184px
		+r(780)
			min-height: auto !important 
			br
				display: none		
		

	.home-menu__on_hover_sub > li	
		+r(740)
			display: block !important
			text-align: left
			



					

//END HOME PAGE

// BEGIN about_us
.two-column__sidebar
	+r(900)
		float: none
		width: 100%

.contacts__content
	+r(900)
		padding: 10px 20px 10px
		p
			margin-bottom: 18px	
contacts__header
	+r(900)
		padding: 10px				

.two-column__main_container	
	+r(900)
		float: none
		margin: 0
.two-column__content
	+r(900)
		margin: 0
		padding: 0
		// .bread-menu 
		// 	li
		// 		display: none
		// 		&:first-child
		// 			display: block
		// 	.fa
		// 		display: none
							
.product-block
	+r(900)
		width: 48%
		margin:	0 1% 20px
		.product-link
			display: none
	+r(700)
		width: 100%
		float: none	
		margin: 0 0 20px	
.news__item
	+prevent-text	
	.linkk
		width: 100%	

.news__item_one_content
	+r(900)
		margin: 0
		p, li
			font-size: 14px !important			
	+r(600)
		padding: 40px 15px 20px 15px

.news__item_one_content 
	+r(720)
		> table td
			display: block	
		td p
			margin-bottom: 0			

.ui-tabs .ui-tabs-nav 
	+r(400)
		li	
			float: none
			a	
				display: inline-block

.ui-tabs .ui-tabs-nav .ui-tabs-anchor
	+r(400)
		float: none

.cleanhtml
	+r(1200)
		table
			width: 100% !important
	+r(900)
		p
			font-size: 14px !important

		p:nth-child(2)
			display: -webkit-flex
			display: -ms-flexbox
			display: flex
			-webkit-justify-content: space-around
				-ms-flex-pack: distribute
					justify-content: space-around
			-webkit-flex-wrap: wrap
			-ms-flex-wrap: wrap
			flex-wrap: wrap
		
	+r(770)
		p:nth-child(2)
			-webkit-flex-wrap: wrap-reverse
			-ms-flex-wrap: wrap-reverse
			flex-wrap: wrap-reverse	


.mn2_, .mn2a, .mn2_a
	+r(720)
		float: none
		width: 100%	
		a
			display: block !important
			width: 100%	 !important
			margin: 0
			//line-height: 55px
			font-size: 14px !important
			
		a:hover, a:focus
			display: block
			width: 100%	
			//line-height: 55px
			font-size: 14px	!important
		.mn2img
			display: none	


				
// END about_us

//BEGIN category
ul.page-categories, ul.page-categoriesShini 
	+r(900)
		li
			width: 100%
			margin: 0 auto 15px
			height: auto
			min-height: 160px
		a	
			font-size: 15px
		h2	
			font-size: 15px

//ENDcategory





//FOOTER
.footer__copyright
	+r(900)
		font-size: 14px
.footer-links a
	+r(900)	
		display: block
		margin-bottom: 10px		