/*
Error: Inconsistent indentation: " \t" was used for indentation, but the rest of the document was indented using 1 tab.
        on line 732 of src/sass/_main.sass
        from line 4 of src/sass/screen.sass

727: 		font-size: 14px
728: 	+r(500)
729: 		margin: 0
730: 		float: none
731: .footer-links
732:  	+r(500)
733:  		margin-top: 12px 
734:  .footer__logo
735:  	+r(500)
736:  		float: right
737: .footer-links a

Backtrace:
src/sass/_main.sass:732
src/sass/screen.sass:4
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/engine.rb:483:in `block in tabulate'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/engine.rb:441:in `each'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/engine.rb:441:in `each_with_index'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/engine.rb:441:in `tabulate'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/engine.rb:406:in `_to_tree'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/engine.rb:309:in `to_tree'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/stack.rb:88:in `block in with_import'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/stack.rb:88:in `with_import'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:364:in `watch_or_update'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/exec/base.rb:52:in `parse'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/lib/sass/exec/base.rb:19:in `parse!'
/Users/akella/.rvm/gems/ruby-2.2.2/gems/sass-3.4.18/bin/sass:13:in `<top (required)>'
/Users/akella/.rvm/gems/ruby-2.2.2/bin/sass:23:in `load'
/Users/akella/.rvm/gems/ruby-2.2.2/bin/sass:23:in `<main>'
/Users/akella/.rvm/gems/ruby-2.2.2/bin/ruby_executable_hooks:15:in `eval'
/Users/akella/.rvm/gems/ruby-2.2.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: \" \t\" was used for indentation, but the rest of the document was indented using 1 tab.\A         on line 732 of src/sass/_main.sass\A         from line 4 of src/sass/screen.sass\A \A 727: 		font-size: 14px\A 728: 	+r(500)\A 729: 		margin: 0\A 730: 		float: none\A 731: .footer-links\A 732:  	+r(500)\A 733:  		margin-top: 12px \A 734:  .footer__logo\A 735:  	+r(500)\A 736:  		float: right\A 737: .footer-links a"; }

/*# sourceMappingURL=screen.css.map */
